body {
    font-family: 'Syne Mono', monospace;
    font-size: 1.3rem;
    background: #333;
    color: #f4f4f4;
}

button {
    font-family: 'Syne Mono', monospace;
    font-size: 1.2rem;
    cursor: pointer;
    background: aqua;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    transition: transform 250ms ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

img {
    width: 30%;
    border-radius: 15px;
}

.container {
    display: grid;
    place-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: 800;
    color: aqua;
}